<mat-dialog-actions align="end">
    <button class="cent" mat-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</mat-dialog-actions>
<div class="modal-Qhg" id="172:27">
    <div class="create-tic-modal-zft" id="172:3">
        <div class="create-ticket-header-XpE" id="172:5">CREATE USER ROLE</div>
<form [formGroup]="userRole">
    <div class="auto-group-ycyr-H4e" id="PsqLAUWwTfmGWzodCKYcYr">
        <div class="assignee-id-8LA" id="172:11">Description</div>
        <!-- form for user role -->
        <mat-form-field class="form">
            <!-- description -->
            <div class="auto-group-cpev-bjY" id="PsqLUTzxkneigAz6brCpev">
                <input matInput type="text" formControlName="description">
            </div>
        </mat-form-field>
    </div>
    
    <mat-dialog-actions align="start">
        <button class="cent" mat-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
            <button class="cent" mat-button (click)="createUser()">
                <div class="group-2-wy4" id="172:8">CREATE</div>
            </button>
        
    </mat-dialog-actions>
</form>
    </div>
</div>