<!-- <div class="body">
    <mat-card-title>Login</mat-card-title>
    <div class="page">
        <div class="example-container grid">
            <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmitLogin">
                <mat-form-field appearance="fill">
                    <mat-label>Enter your School ID</mat-label>
                    <input matInput #input id="id" placeholder="2018021020" formControlName="username" minlength="4" maxlength="10" required>
                    <mat-hint align="end">{{input.value.length || 0}}/4</mat-hint>
                    <mat-error *ngIf="isFieldInvalid('school_id')">
                        School ID is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" minlength="4" required>
                    <mat-error *ngIf="isFieldInvalid('password')">
                        Password is <strong>required</strong>
                    </mat-error>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
                </mat-form-field>
                <mat-checkbox class="example-margin">Remember Me</mat-checkbox>
                <!-- <mat-checkbox class="example-margin">Forgot Password?</mat-checkbox> -->
<!-- <button mat-button class="btn btn-primary" (click)="onSubmitLogin()">Submit</button> -->
<!-- <button class="btn" (click)="reset()">Reset</button> -->
<!-- <a (click)="nav('signup')" class="signup">Don't Have an Account! Click Here!</a> -->
<!-- </form>
        </div>
    </div> -->
<!-- </div> -->

<div class="left-panel">
    <div style="text-align: left" id="alliance">
        ALLIANCE
    </div>
    <div class="subtitle">
        Let's build it together
    </div>
</div>

<div class="right-panel">
    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmitLogin">
        <span class="sign-in">Sign In</span>
        <mat-form-field appearance="outline" id="emailField" style="width:80%">
            <mat-label>Enter your username</mat-label>
            <input matInput #input id="id" formControlName="username" minlength="4" maxlength="10" required>
            <mat-hint align="end">{{input.value.length || 0}}/4</mat-hint>
            <mat-error *ngIf="isFieldInvalid('school_id')">
                Username is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" id="pwordField" style="width:80%">
            <mat-label>Enter your password</mat-label>
            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" minlength="4" required>
            <mat-error *ngIf="isFieldInvalid('password')">
                Password is <strong>required</strong>
            </mat-error>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-checkbox class="example-margin" id="remember">Remember Me</mat-checkbox>
        <mat-checkbox class="example-margin" id="forgot">Forgot Password?</mat-checkbox>
        <button mat-button class="btn btn-primary" id="loginBtn" (click)="onSubmitLogin()">LOGIN</button>
        <!-- <button class="btn" (click)="reset()">Reset</button> -->
        <!-- <button class="btn">Reset</button> -->
        <!-- <a (click)="nav('signup')" class="sign-up">Don't Have an Account! Click Here!</a> -->

    </form>
</div>