/* #alliance {
    font-family: 'Bebas Neue';
    font-size: 200px;
    color: white;
    letter-spacing: 2px;
    text-align: left center;
    padding-left: 35px;
    display: flex;
    position: absolute;
} */

#alliance {
    position: absolute;
    width: 749px;
    height: 300px;
    left: 80px;
    top: 309px;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 250px;
    line-height: 300px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.subtitle {
    position: absolute;
    width: 571px;
    height: 84px;
    left: 80px;
    top: 570px;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 84px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
