mat-toolbar {
    padding: 0 30px;
    background-color: white;
}

span {
    flex: auto;
}

.logo {
    width: 8em;
    margin-top: 10px;
    margin-right: 5px;
}

.dropbtn {
    color: white;
    font-family: 'Poppins';
    font-weight: 400;
    background-color: #DD0301;
    border: 0;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}

#dropdown-icon {
    padding-left: 5px;
}

.navbar-item{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 17px;
    color: #DD0301;
}

.button {
    background-color: transparent;
    border: none;
}

.dropbtn {
    background-color: rgba(221, 3, 1, 1);
    color: white;
    padding: 5px 20px 5px 20px;
    font-size: 16px;
    border: none;
}

.butn{
    background-color: rgba(221, 3, 1, 1);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none; 
} 

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: medium;
    font-family: 'Poppins';

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: black;
}

.butn {
    background-color: transparent;
}

.butn:hover{
    color: black;
}



 /* mat-toolbar {
    padding: 0 30px;
    background-color: white;
    justify-self: auto;
    position: absolute;
}

.logo {
    width: 8em;
    margin-top: 5px;
    margin-right: 5px;
}

.dropbtn {
    color: white;
    font-family: 'Poppins';
    font-weight: 400;
    background-color: #DD0301;
    border: 0;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}

#dropdown-icon {
    padding-left: 5px;
}

.dropbtn {
    background-color: rgba(221, 3, 1, 1);
    color: white;
    padding: 5px 20px 5px 20px;
    font-size: 16px;
    border: none;
}

.butn{
    background-color: rgba(221, 3, 1, 1);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none; 
}  */

