<mat-toolbar>
  <div class="container">
    <img src="assets/alliance_logo_white.png" alt="logo" class="logo" />
  </div>
  <div class="home">
    <button (click)="todashboard()"  routerLink="/app-user-dashboard" class="butn">Home</button>
  </div>
  <div class="home">
    <button class="butn">About</button>
  </div>
  <div class="home">
    <button class="butn">Services</button>
  </div>

  <div class="dropdown nav-list">
    <button class="dropbtn">Account</button>
    <div class="dropdown-content">
      <a
        routerLink="/login"
        routerLinkActive="active"
        (click)="nav('login')"
        *ngIf="!isAuthenticated"
        >Login</a
      >
      <a
        routerLink="/register"
        routerLinkActive="active"
        (click)="nav('signup')"
        *ngIf="!isAuthenticated"
        >Register</a
      >
      <a
        routerLink="/login"
        routerLinkActive="active"
        (click)="nav('upload')"
        *ngIf="isAuthenticated"
        >Profile</a
      >
      <a
        routerLink="/login"
        routerLinkActive="active"
        (click)="nav('login')"
        *ngIf="isAuthenticated"
        >My Favorites</a
      >
      <a
        routerLink="/login"
        routerLinkActive="active"
        (click)="nav('login')"
        *ngIf="isAuthenticated"
        >Setting</a
      >
      <a
        routerLink="/login"
        routerLinkActive="active"
        (click)="logout()"
        *ngIf="isAuthenticated"
        >Logout</a
      >
    </div>
  </div>
</mat-toolbar>
