<table mat-table class="table table-striped">
    <thead>
        <tr>
            <th mat-header-cell scope="col" *ngFor="let header of headers">{{header}}</th>
    </thead>
    <tbody>
        <tr *ngFor="let ticket of tickets">
            <td mat-cell>{{ ticket.assignee }}</td>
            <td mat-cell>{{ ticket.status }}</td>
            <td mat-cell>{{ ticket.subject }}</td>
            <td mat-cell>{{ ticket.description }}</td>
            <!-- update -->
            <!-- <td mat-cell>
                <button mat-button class="update" (click)="updateTicket(ticket.ticketID)">
                <mat-icon>update</mat-icon>
                </button>
            </td>
            <td mat-cell>
                <button mat-button class="delete" (click)="deleteTicket(ticket.ticketID)">
                <mat-icon>delete</mat-icon>
                </button>
            </td> -->
    </tbody>
</table>
<mat-dialog-actions align="end">
    <button class="cent" mat-button mat-dialog-close>
    <mat-icon>close</mat-icon>
    </button>
</mat-dialog-actions>