<!-- table for ticketID, assigneeID, status, subject, description -->
<table mat-table class="table table-striped">
    <thead>
        <tr>
            <!-- loop the header display in header -->
            <th mat-header-cell scope="col" *ngFor="let header of header">{{header}}</th>
            <th mat-header-cell scope="col">Update</th>
            <th mat-header-cell scope="col">Ticket</th>
        </tr>
    </thead>
    <tbody>
        <!-- loop tickets and display values to table -->
        <tr *ngFor="let ticket of tickets">
            <td mat-cell>{{ ticket.ticketID }}</td>
            <td mat-cell>{{ ticket.assignee }}</td>
            <td mat-cell>{{ ticket.status }}</td>
            <td mat-cell>{{ ticket.subject }}</td>
            <td mat-cell>{{ ticket.description }}</td>
            <!-- update -->
            <td mat-cell>
                <button mat-button class="update" (click)="updateTicket(ticket.ticketID)">
                <!-- icon update -->
                <mat-icon>update</mat-icon>
                </button>
            </td>
            <!-- delete -->
            <td mat-cell>
                <button mat-button class="delete" (click)="deleteTicket(ticket.ticketID)">
                <!-- icon delete -->
                <mat-icon>delete</mat-icon>
                </button>
            </td>
    </tbody>
</table>
<mat-dialog-actions align="end">
    <button class="cent" mat-button mat-dialog-close>
    <mat-icon>close</mat-icon>
    </button>
</mat-dialog-actions>