<mat-dialog-actions align="end">
    <button class="cent" mat-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</mat-dialog-actions>
<div class="modal-Qhg" id="172:27">
    <div class="create-tic-modal-zft" id="172:3">
        <div class="create-ticket-header-XpE" id="172:5">CREATE USER</div>
<form [formGroup]="user">
    <div class="auto-group-ycyr-H4e" id="PsqLAUWwTfmGWzodCKYcYr">
        <div class="assignee-id-8LA" id="172:11">Role ID</div>
        <!-- form for ticket -->
        <mat-form-field class="form">
            <!-- Role ID -->
            <div class="auto-group-cpev-bjY" id="PsqLUTzxkneigAz6brCpev">
                <input matInput type="text" formControlName="roleID">
            </div>
        </mat-form-field>
    </div>
    <div class="auto-group-fks6-c4J" id="PsqLv7vtA88yRL8awSFkS6">
        <div class="status-2yG" id="172:12">First Name</div>
        <mat-form-field class="form">
            <!-- First Name -->
            <div class="auto-group-arv8-PDU" id="PsqM57ftogahVvDpeCarV8">
                <input matInput type="text" formControlName="fname">
            </div>
        </mat-form-field>
    </div>
    <div class="auto-group-fks6-c4J" id="PsqLv7vtA88yRL8awSFkS6">
        <div class="subject-HgE" id="172:13">Last Name</div>
        <mat-form-field class="form">
            <!-- Last Name -->
            <div class="auto-group-arv8-PDU" id="PsqM57ftogahVvDpeCarV8">
                <input matInput type="text" formControlName="lname">
            </div>
        </mat-form-field>
    </div>
    <div class="auto-group-jyzk-3J2" id="PsqMCSo1n4imiFQXt5jyZk">
        <div class="description-XDC" id="172:14">Username</div>
        <mat-form-field class="form">
            <!-- Username -->
            <div class="auto-group-vgyx-R3g" id="PsqMLXPtJaPzGJ6gRrvgyx">
                <input matInput type="text" formControlName="username">
            </div> 
        </mat-form-field>
    </div>
    <div class="auto-group-jyzk-pass" id="PsqMCSo1n4imiFQXt5jyZk">
        <div class="password-XDC" id="172:14">Password</div>
        <mat-form-field class="form">
            <!-- password -->
            <div class="auto-group-vgyx-pazz" id="PsqMLXPtJaPzGJ6gRrvgyx">
                <input matInput type="text" formControlName="password">
            </div> 
        </mat-form-field>
    </div>
    
    
    <mat-dialog-actions align="start">
        <button class="cent" mat-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
            <button class="cent" mat-button (click)="createUser()">
                <div class="group-2-wy4" id="172:8">CREATE</div>
            </button>
        
    </mat-dialog-actions>
</form>
    </div>
</div>