h2 {
    color: white;
    text-align: center;
}

.dashboard {
    position: absolute;
    width: 566px;
    height: 180px;
    left: 63px;
    top: 100px;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 180px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.tix_mgt_btn {
    position: absolute;
    width: 389px;
    height: 541px;
    left: 190px;
    top: 300px;
    outline: none;
    background: #DD0301;
    border-radius: 50px;
    border: none;
}

.tix_mgt_btn:hover {background-color: black}

.tix_mgt_btn:active {
  background-color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.tix_text {
    position: absolute;
    width: 308px;
    height: 168px;
    left: 38px;
    top: 300px;

    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 84px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.ticket_icon {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 45px;
    top: 0px;
}

.report_btn {
    position: absolute;
    width: 389px;
    height: 541px;
    left: 775px;
    top: 300px;
    outline: none;
    background: #DD0301;
    border-radius: 50px;
    border: none;
}

.report_btn:hover {background-color: black}

.report_btn:active {
  background-color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.report_text {
    position: absolute;
    width: 308px;
    height: 168px;
    left: 95px;
    top: 300px;

    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 84px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.report_icon {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 120px;
    top: 75px;
}

.user_role_btn {
    position: absolute;
    width: 389px;
    height: 541px;
    left: 1360px;
    top: 300px;
    outline: none;
    background: #DD0301;
    border-radius: 50px;
    border: none;
}

.user_role_btn:hover {background-color: black}

.user_role_btn:active {
  background-color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.user_role_text {
    position: absolute;
    width: 308px;
    height: 168px;
    left: 40px;
    top: 300px;

    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 84px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.user_icon {
    position: absolute;
    width: 272px;
    height: 157px;
    left: 60px;
    top: 75px;
}