h2 {
    color: white;
    text-align: center;
}


/* .container{
    width: 100%;
    height: 540px;
    left: 0px;

    background-image: url(bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    isolation: isolate;
}
.container::before{
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background: black;
    opacity: 75%;
} */


/* .title {
    position: absolute;
    width: 606px;
    height: 83px;
    left: 657px;
    top: 135px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 82px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
} */

.list {
    font-family: 'Poppins';
    background-color: rgba(222, 4, 2, 0.5);
    font-size: 20px;
    color: white;
    padding: 12px 28px;
    border-radius: 8px;
    transition-duration: 0.4s;
    width: 350px;
}

.container {
    display: flex;
    flex-direction: column;
}

.list:hover {
    background-color: white;
    color: black;
}

.create {
    font-family: 'Poppins';
    background-color: rgba(222, 4, 2, 0.5);
    font-size: 20px;
    color: white;
    padding: 12px 28px;
    border-radius: 8px;
    width: 350px;
}

.create:hover {
    background-color: white;
    color: black;
}

.update {
    font-family: 'Poppins';
    background-color: rgba(222, 4, 2, 0.5);
    font-size: 20px;
    color: white;
    padding: 12px 28px;
    border-radius: 8px;
    width: 350px;
}

.update:hover {
    background-color: white;
    color: black;
}

.view {
    font-family: 'Poppins';
    background-color: rgba(222, 4, 2, 0.5);
    font-size: 20px;
    color: white;
    padding: 12px 28px;
    border-radius: 8px;
    width: 350px;
}

.view:hover {
    background-color: white;
    color: black;
}

.add {
    font-family: 'Poppins';
    background-color: rgba(222, 4, 2, 0.5);
    font-size: 20px;
    color: white;
    padding: 12px 28px;
    border-radius: 8px;
    width: 350px;
}

.add:hover {
    background-color: white;
    color: black;
}

.workflow {
    font-family: 'Poppins';
    background-color: rgba(222, 4, 2, 0.5);
    font-size: 20px;
    color: white;
    padding: 12px 28px;
    border-radius: 8px;
    width: 350px;
}

.workflow:hover {
    background-color: white;
    color: black;
}

.inside {
    display: flex;
}

.mat-list-base {
    padding-top: 2px;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
    padding: 40px 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 700px;
    height: 458px;
    margin-top: 39px;
}

.dashboard {
    position: absolute;
    width: 566px;
    height: 180px;
    left: 63px;
    top: 120px;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 180px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.tix_mgt_btn {
    position: absolute;
    width: 389px;
    height: 541px;
    left: 214px;
    top: 350px;
    outline: none;
    background: #DD0301;
    border-radius: 50px;
    border: none;
}

.tix_mgt_btn:hover {background-color: black}

.tix_mgt_btn:active {
  background-color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.tix_text {
    position: absolute;
    width: 308px;
    height: 168px;
    left: 38px;
    top: 300px;

    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 84px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.ticket_icon {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 45px;
    top: 0px;
}

.report_btn {
    position: absolute;
    width: 389px;
    height: 541px;
    left: 850px;
    top: 350px;
    outline: none;
    background: #DD0301;
    border-radius: 50px;
    border: none;
}

.report_btn:hover {background-color: black}

.report_btn:active {
  background-color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.report_text {
    position: absolute;
    width: 308px;
    height: 168px;
    left: 95px;
    top: 300px;

    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 84px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.report_icon {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 120px;
    top: 75px;
}

.user_role_btn {
    position: absolute;
    width: 389px;
    height: 541px;
    left: 1497px;
    top: 350px;
    outline: none;
    background: #DD0301;
    border-radius: 50px;
    border: none;
}

.user_role_btn:hover {background-color: black}

.user_role_btn:active {
  background-color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.user_role_text {
    position: absolute;
    width: 308px;
    height: 168px;
    left: 40px;
    top: 300px;

    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 84px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.user_icon {
    position: absolute;
    width: 272px;
    height: 157px;
    left: 60px;
    top: 75px;
}