<!-- <div class="container">
  <div class="bg">
    <div class="content">
      <h2>
        TICKET MANAGEMENT
      </h2>
    </div>
    <div class="table">
      <table>
        <tr>
          <td>
            <button
>
              TICKET LIST
            </button>
          </td>
          <td></td>
        </tr>

        <tr>
          <td>
            <button class="create">CREATE TICKET</button>
          </td>

          <td></td>
        </tr>

        <tr>
          <td>
            <button class="update">UPDATE TICKET</button>
          </td>

          <td></td>
        </tr>

        <tr>
          <td>
            <button class="view">VIEW TICKET</button>
          </td>

          <td></td>
        </tr>

        <tr>
          <td>
            <button class="add">ADD REMAINDER FOR AGING TICKETS</button>
          </td>

          <td></td>
        </tr>
        <tr>
          <td>
            <button class="workflow">TICKET WORKFLOW</button>
          </td>

          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div> -->
<!-- <div class="container">
    <div class="title">
        <h2>
            <p>DASHBOARD</p>
        </h2>
    </div>
    <div class="inside">
        <div class="tab">
            <mat-list>
                <mat-list-item *ngFor="let item of list" (click)="tab(item.path)">
                    <button mat-button class="list">
                        <mat-icon>{{item.icon}}</mat-icon>
                        <span>{{item.name}}</span>
                    </button>
                </mat-list-item>
            </mat-list>
        </div>
        <div class="content" *ngIf="paths === '/ticket_management'">
            <app-ticket-list></app-ticket-list>
        </div>
        <div class="content" *ngIf="paths === '/reports'">
            <app-aging-ticket></app-aging-ticket>
        </div>
        <div class="content" *ngIf="paths === '/user_role_mgt'">
            <app-ticket-workflow></app-ticket-workflow>
        </div>
    </div>
</div> -->

<div>
  <div class="title">
    <h1 class="dashboard">DASHBOARD</h1>
  </div>
  <div class="card-deck" id="tix_mgt" >
    <button class="tix_mgt_btn" (click)="goToTicketMgt()">
      <div>
        <span><img src="assets/ticket_icon.png" alt="ticket_icon" class="ticket_icon"></span>
        <p class="tix_text">TICKET MANAGEMENT</p>
      </div>
    </button>
  </div>
  <div class="card-deck" id="reports">
    <button class="report_btn" (click)="goToReports()">
      <div class="center">
        <span><img src="assets/reports_icon.png" alt="report_icon" class="report_icon"></span>
        <p class="report_text">REPORTS</p>
      </div>
    </button>
  </div>
  <div class="card-deck" id="user_role">
    <button class="user_role_btn">
      <div class="center">
        <span><img src="assets/users_icon.png" alt="user_icon" class="user_icon"></span>
        <p class="user_role_text">USER/ROLE MANAGEMENT</p>
      </div>
    </button>
  </div>
</div>