<mat-dialog-actions align="end">
    <button class="cent" mat-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</mat-dialog-actions>
<div class="modal-Qhg" id="172:27">
    <div class="create-tic-modal-zft" id="172:3">
        <div class="create-ticket-header-XpE" id="172:5">UPDATE USER</div>
<form [formGroup]="user">
    <!-- <div class="ticketid" id="ticket">
        <div class="ticket-label" id="label">User ID</div>
        form for ticket
        <mat-form-field class="form">
            userID readOnly
            <div class="form" id="text"><input matInput type="text" formControlName="userID" (ngModel)="users.userID" placeholder="{{users.userID}}" readonly>
            </div>
        </mat-form-field>
    </div> -->
    <div class="auto-group-ycyr-H4e" id="PsqLAUWwTfmGWzodCKYcYr">
        <div class="assignee-id-8LA" id="172:11">Role ID</div>
            <mat-form-field class="form">
                <!-- roleID -->
                <div class="auto-group-cpev-bjY" id="PsqLUTzxkneigAz6brCpev">
                    <input matInput type="text" formControlName="roleID" (ngModel)="users.roleID" placeholder="{{users.roleID}}">
                </div>
            </mat-form-field>
    </div>
    <div class="auto-group-fks6-c4J" id="PsqLv7vtA88yRL8awSFkS6">
        <div class="status-2yG" id="172:12">First Name</div>
            <mat-form-field class="form">
                <!-- fname -->
                <div class="auto-group-arv8-PDU" id="PsqM57ftogahVvDpeCarV8">
                    <input matInput type="text" formControlName="fname" (ngModel)="users.fname" placeholder="{{users.fname}}">
                </div>
            </mat-form-field>
    </div>
    <div class="auto-group-fks6-c4J" id="PsqLv7vtA88yRL8awSFkS6">
        <div class="subject-HgE" id="172:13">Last Name</div>
        <mat-form-field class="form">
            <!-- lname -->
            <div class="auto-group-arv8-PDU" id="PsqM57ftogahVvDpeCarV8">
                <input matInput type="text" formControlName="lname" (ngModel)="users.lname" placeholder="{{users.lname}}">
            </div>
        </mat-form-field>
    </div>
    <div class="auto-group-jyzk-3J2" id="PsqMCSo1n4imiFQXt5jyZk">
        <div class="description-XDC" id="172:14">Username</div>
        <mat-form-field class="form">
            <!-- username -->
            <div class="auto-group-vgyx-R3g" id="PsqMLXPtJaPzGJ6gRrvgyx">
                <input matInput type="text" formControlName="username" (ngModel)="users.username" placeholder="{{users.username}}">
            </div>
        </mat-form-field>
    </div>
    <div class="auto-group-jyzk-pass" id="PsqMCSo1n4imiFQXt5jyZk">
        <div class="password-XDC" id="172:14">Password</div>
        <mat-form-field class="form">
            <!-- password -->
            <div class="auto-group-vgyx-pazz" id="PsqMLXPtJaPzGJ6gRrvgyx">
                <input matInput type="text" formControlName="password" (ngModel)="users.password" placeholder="{{users.password}}">
            </div>
        </mat-form-field>
    </div>
    <mat-dialog-actions align="end">
        <button class="cent" mat-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
        <button class="cent" mat-button (click)="updateTicket()">
            <div class="group-2-wy4" id="172:8">UPDATE</div>
    </button>
    </mat-dialog-actions>
</form>
</div>
</div>