<div class="ticket">
    <div class="end">
        <!-- add/create angular button -->
        <button class="create" (click)="createTicket()">CREATE TICKET</button>
    </div>
    <table mat-table class="table table-striped">
        <thead>
            <tr>
                <th mat-header-cell scope="col">Ticket ID</th>
                <th mat-header-cell scope="col">Assignee ID</th>
                <th mat-header-cell scope="col">Status</th>
                <th mat-header-cell scope="col">Subject</th>
                <th mat-header-cell scope="col">Description</th>
                <th mat-header-cell scope="col">Tracker</th>
                <th mat-header-cell scope="col">View</th>
                <th mat-header-cell scope="col">Update</th>
                <th mat-header-cell scope="col">Ticket</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ticket of tickets">
                <td mat-cell>{{ ticket.ticketID }}</td>
                <td mat-cell>{{ ticket.assigneeID }}</td>
                <td mat-cell>{{ ticket.status }}</td>
                <td mat-cell>{{ ticket.subject }}</td>
                <td mat-cell>{{ ticket.description }}</td>
                <td mat-cell>{{ ticket.tracker }}</td>
                <!-- view -->
                <td mat-cell>
                    <button class="view" (click)="viewTicket(ticket.ticketID)">
                        <!-- icon view -->
                        <mat-icon>visibility</mat-icon>
                    </button>
                </td>
                <!-- update -->
                <td mat-cell>
                    <button mat-button class="update" (click)="updateTicket(ticket.ticketID)">
                        <!-- icon update -->
                        <mat-icon>update</mat-icon>
                    </button>
                </td>
                <!-- delete -->
                <td mat-cell>
                    <button mat-button class="delete" (click)="deleteTicket(ticket.ticketID)">
                        <!-- icon delete -->
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>