<div class="user-role">
    <div class="end">
        <button class="export" id="export_btn" (click)="exportToCSV()">EXPORT TO CSV</button>
    </div>
    <table mat-table class="table table-striped">
        <thead>
            <tr>
                <th mat-header-cell scope="col" *ngFor="let header of header">{{header}}</th>
                <th mat-header-cell scope="col">Update</th>
                <th mat-header-cell scope="col">Delete User Role</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let userRole of userRoles">
                <td mat-cell>{{ userRole.roleID }}</td>         
                <td mat-cell>{{ userRole.description }}</td>

                <td mat-cell>
                    <button mat-button class="update" (click)="updateUserRole(userRole.roleID)">

                        <mat-icon>update</mat-icon>
                    </button>
                </td>
                <td mat-cell>
                    <button mat-button class="delete" (click)="deleteUserRole(userRole.roleID)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>