<div class="user-role">
    <div class="end">
        <!-- add/create angular button -->
        <!-- <button class="create" (click)="createTicket()">CREATE TICKET</button> -->
        <!-- export to pdf -->
        <button class="export" id="export_btn" (click)="exportToCSV()">EXPORT TO CSV</button>
    </div>
    <table mat-table class="table table-striped">
        <thead>
            <tr>
                <!-- loop the header display in header -->
                <th mat-header-cell scope="col" *ngFor="let header of header">{{header}}</th>
                <th mat-header-cell scope="col">Update</th>
                <th mat-header-cell scope="col">Delete User Role</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let userRole of userRoles">
                <td mat-cell>{{ userRole.roleID }}</td>         
                <td mat-cell>{{ userRole.description }}</td>
                <!-- update -->
                <td mat-cell>
                    <button mat-button class="update" (click)="updateUserRole(userRole.roleID)">
                        <!-- icon update -->
                        <mat-icon>update</mat-icon>
                    </button>
                </td>
                <!-- delete -->
                <td mat-cell>
                    <button mat-button class="delete" (click)="deleteUserRole(userRole.roleID)">
                        <!-- icon delete -->
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator> -->
</div>