/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Poppins', sans-serif; 
    background-image: url('../../bg.png'); 
    background-attachment: fixed;
    background-size: cover;
}

body::before {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background: black;
    opacity: 70%;
}

