<mat-dialog-actions align="end">
    <button class="cent" mat-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</mat-dialog-actions>
<form [formGroup]="ticket">
    <!-- form for ticket -->
    <mat-form-field class="form">
        <mat-label>Assignee ID</mat-label>
        <!-- assigneeID -->
        <input matInput type="text" formControlName="assigneeID">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Status</mat-label>
        <!-- status -->
        <input matInput type="text" formControlName="status">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Subject</mat-label>
        <!-- subject -->
        <input matInput type="text" formControlName="subject">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Description</mat-label>
        <!-- description -->
        <input matInput type="text" formControlName="description">
    </mat-form-field>
    <!-- upload button -->
    <div class="row">
        <mat-card-title class="res_cent">Upload Research</mat-card-title>
        <div class=" columns">
            <!-- accepts only pdf, word file -->
            <input id="file-input" type="file" accept=".pdf, .docx, .docs" (change)="selectFiles($event)" ng2FileSelect uploader="uploader" />
        </div>
        <!-- if attachment-list is not equal to zero -->
        <div class="columns btnss" *ngIf="attachmentList.length != 0">
            <button class="pas" mat-raised-button color="warn" (click)="removeFile(attachmentList[0])">Remove File</button>
            <!-- <button class="pas" mat-raised-button color="primary" (click)="uploadFiles()">Upload</button> -->
        </div>
    </div>
    <mat-dialog-actions align="end">
        <button class="cent" mat-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
        <button class="cent" mat-button (click)="createTicket()">
            <mat-icon>create></mat-icon>
        </button>
    </mat-dialog-actions>
</form>